# Включаем движок
RewriteEngine On

# Если запрошен реально существующий файл или папка - отдаём напрямую
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Всё остальное (чего нет физически) - в index.php
RewriteRule ^ index.php [QSA,L]